<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <h1>Create New Item</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <p>
            {{ form.item_name.label }}<br>
            {{ form.item_name(size=32) }}<br>
        </p>
        <p>
            {{ form.item_price.label }}<br>
            {{ form.item_price(size=32) }}<br>
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
</body>
</html>
